BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 130
SortIncludes: true
PackConstructorInitializers: Never
DerivePointerAlignment: false
PointerAlignment: Left
PPIndentWidth: 1
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 2
BreakInheritanceList: AfterColon
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
BreakBeforeBinaryOperators: None
AlignOperands: AlignAfterOperator
