CompileFlags:
  CompilationDatabase: build/
Completion:
  AllScopes: Yes
Style:
  QuotedHeaders: [ "prette/.*" ]
  AngledHeaders: [ "GLFW/.*", "vulkan/.*" ]
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader:
    - "vulkan/.*"
    - "rx-.*"
    - "operators/rx-.*"
    - "subjects/rx-.*"
    - "glm/.*"
    - "fmt\base.h"