.cache/
vcpkg_installed/
*.env*
imgui.ini
prette.cfg

# keep build dir
build/*
!/build/.gitkeep

data/*
!/data/.gitkeep

*.profraw

# ignore osx DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
